
* {
    box-sizing: border-box;
}
body {
    background-color: #eee;
    font-family: sans-serif;
    font-size: 14px;
}
fieldset {
    border: none;
}
legend {
    display: none;
    padding: 0;
}
.form {
    border: 1px solid #ddd;
    display: inline-block;
    margin: 10px 10px 0 0;
    padding: 10px;
    vertical-align: top;
}
    .form__row {
        line-height: 24px;
    }
        .form__label {
            display: inline-block;
            vertical-align: middle;
            width: 80px;
        }
        .form__range {
            vertical-align: middle;
        }
        .form__number {
            vertical-align: middle;
            width: 40px;
        }
#container-webgl {
    height: 300px;
    width: 550px;
}
#settings {
    width: 380px;
}
#controls {
    width: 150px;
}
#templates {
    display: none;
}
