
* {
    box-sizing: border-box;;
}
body {
    background-color: #eee;
    font-family: sans-serif;
    font-size: 14px;
}
legend {
    padding: 0;
}
#container-webgl {
    height: 300px;
    width: 550px;
}
.canvas__container {
    background-color: #fff;
    height: 300px;
    position: relative;
    width: 550px;
}
    #canvas__static,
    #canvas__animation {
        left: 0;
        position: absolute;
        top: 0;
    }
.settings {
    
}
    .settings__row {
        line-height: 24px;
    }
        .settings__label {
            display: inline-block;
            vertical-align: middle;
            width: 80px;
        }
        .settings__range {
            vertical-align: middle;
        }
        .settings__number {
            vertical-align: middle;
            width: 40px;
        }
