/************************
 * presets
 ************************/

 .presets {
  background-color: var(--panel-bg-color);
  position: relative;
  width: 340px;
}
.presets .panel__viewport {
  background-color: var(--panel-bg-color);
}
.presets__list {
  display: flex;
  flex-wrap: wrap-reverse;
  list-style: none;
}
.presets__list.edit-mode .presets__item-load {
  flex-basis: 50%;
}
.presets__list.edit-mode .presets__item-store {
  display: block;
}
.presets__item {
  cursor: pointer;
  display: flex;
  flex-basis: 25%;
}
.presets__item.is-set.is-selected .presets__item-load {
  background: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 10px,
    var(--panel-bg-color) 10px,
    var(--panel-bg-color) 20px
  ),
  linear-gradient(
    to bottom,
    var(--btn-color),
    var(--btn-color)
  );
}
.presets__item-load {
  flex-basis: 100%;
  padding: 20px 10px;
  text-align: center;
}
.presets__item-store {
  display: none;
  flex-basis: 50%;
  padding: 20px 10px;
  text-align: center;
}
.presets__item-store .presets__item-label {
  background-color: var(--btn-color);
  color: var(--input-bg-color);
  padding: 0 5px 2px;
}
.presets__item-load:hover,
.presets__item-store:hover {
  background-color: var(--btn-active-bg-color);
}
.presets__item.is-set .presets__item-load {
  background: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 10px,
    var(--panel-bg-color) 10px,
    var(--panel-bg-color) 20px
  ),
  linear-gradient(
    to bottom,
    var(--btn-active-bg-color),
    var(--btn-active-bg-color)
  );
}.presets__item.is-set .presets__item-load:hover {
  background: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 10px,
    var(--panel-bg-color) 10px,
    var(--panel-bg-color) 20px
  ),
  linear-gradient(
    to bottom,
    var(--btn-color),
    var(--btn-color)
  );
}
.presets__item-label {
  font-size: 1 rem;
}
.presets__edit {}
.presets__edit-check {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.presets__edit-label {
  cursor: pointer;
  display: block;
  padding: 10px;
  text-align: center;
}
.presets__edit-label:hover {
  background-color: var(--btn-active-bg-color);
  color: var(--btn-hover-color);
}
.presets__edit-check:checked + .presets__edit-label {
  color: var(--btn-active-color);
}
.presets__edit-check:checked + .presets__edit-label:hover {
}
