@import 'dialog.css';
@import 'library.css';
@import 'preferences.css';
@import 'rangeslider.css';
@import 'remote.css';
@import 'settings.css';

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon/fonts/icomoon.eot?8ue2bf');
    src:  url('../fonts/icomoon/fonts/icomoon.eot?8ue2bf#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/fonts/icomoon.ttf?8ue2bf') format('truetype'),
        url('../fonts/icomoon/fonts/icomoon.woff?8ue2bf') format('woff'),
        url('../fonts/icomoon/fonts/icomoon.svg?8ue2bf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Alte-DIN-1451-Mittelschrift';
    src:  url('../fonts/Alte-DIN-1451-Mittelschrift.ttf.woff') format('woff'),
    url('../fonts/Alte-DIN-1451-Mittelschrift.ttf.svg#Alte-DIN-1451-Mittelschrift') format('svg'),
    url('../fonts/Alte-DIN-1451-Mittelschrift.ttf.eot'),
    url('../fonts/Alte-DIN-1451-Mittelschrift.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-new:before {
  content: "\e800";
}
.icon-save:before {
  content: "\e801";
}
.icon-play:before {
  content: "\e802";
}
.icon-pause:before {
  content: "\e803";
}
.icon-stop:before {
  content: "\e804";
}
.icon-open:before {
  content: "\f115";
}
.icon-midi:before {
  content: "\e900";
}
.icon-cog:before {
  content: "\e805";
}
.icon-help:before {
  content: "\f128";
}
.icon-ok:before {
  content: "\f115";
}
.icon-cancel:before {
  content: "\e807";
}
.icon-wrench:before {
  content: "\e808";
}
.icon-connections:before {
  content: "\f1e0";
}
.icon-list:before {
  content: "\f009";
}

:root {
    --assign-bg-color: rgba(0, 0, 0, 0.2);
    --assign-border-color: #666;
    --assign-border-assigned-color: #333;
    --bg-color: #fff;
    --border-color: #999;
    --btn-color: #999;
    --btn-active-color: #333;
    --btn-bg-color: #ccc;
    --btn-active-bg-color: #aaa;
    --control-bar-height: 40px;
    --default-font-family: 'Alte-DIN-1451-Mittelschrift', sans-serif;
    --font-size: 16px;
    --font-size-subheader: 14px;
    --header-bg-color: #666;
    --header-color: #fff;
    --header-height: 25px;
    --input-bg-color: #fff;
    --input-height: 30px;
    --panel-bg-color: #ccc;
    --slider-thumb-height: 28px;
    --slider-thumb-width: 8px;
    --slider-track-height: 2px;
    --subheader-bg-color: #999;
    --text-color: #333;
    --webgl-high-color: #333;
    --webgl-mid-color: #999;
    --webgl-low-color: #ddd;
}
div[data-theme='dev'] {
    --assign-bg-color: rgba(0, 0, 0, 0.1);
    --assign-border-color: #ccc;
    --assign-border-assigned-color: #999;
    --bg-color: #fff;
    --border-color: #ddd;
    --btn-color: #bbb;
    --btn-active-color: #999;
    --btn-bg-color: #eee;
    --btn-active-bg-color: #ddd;
    --header-bg-color: #ccc;
    --header-color: #fff;
    --input-bg-color: #fff;
    --panel-bg-color: #eee;
    --subheader-bg-color: #ddd;
    --text-color: #bbb;
    --webgl-high-color: #bbb;
    --webgl-mid-color: #ddd;
    --webgl-low-color: #eee;
}
div[data-theme='dark'] {
    --assign-bg-color: rgba(255, 255, 255, 0.2);
    --assign-border-color: #999;
    --assign-border-assigned-color: #ccc;
    --bg-color: #000;
    --border-color: #999;
    --btn-color: #999;
    --btn-active-color: #fff;
    --btn-bg-color: #333;
    --btn-active-bg-color: #666;
    --input-bg-color: #666;
    --header-bg-color: #999;
    --header-color: #000;
    --panel-bg-color: #333;
    --subheader-bg-color: #666;
    --text-color: #ccc;
    --webgl-high-color: #fff;
    --webgl-mid-color: #ccc;
    --webgl-low-color: #666;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--default-font-family);
    font-size: var(--font-size);
    overflow: hidden;
}
input[type='number'],
input[type='text'] {
    background-color: var(--input-bg-color);
    border: none;
    color: var(--text-color);
    font-family: var(--default-font-family);
    outline: none;
}
input[type='file'] {
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    width: 0.1px;
	z-index: -1;
}
input[type='file'] + label {
}
input:focus,
select:focus {
    outline: none;
}
a,
a:active,
a:visited {
    color: var(--text-color);
}

div[data-theme] {
    color: var(--text-color);
}

/************************
 * layout
 ************************/

#app {
    bottom: 0;
    left: 0;
    min-height: 600px;
    min-width: 800px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}

.main {
    background-color: var(--bg-color);
    bottom: 0;
    color: var(--text-color);
    display: flex;
    left: 0;
    position: absolute;
    right: 0;
    top: var(--control-bar-height);
}

.canvas-container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.canvas-static,
.canvas-dynamic,
.canvas-connect {
    position: absolute;
}
.canvas-connect {
    display: none;
}
.canvas-connect[data-show=true] {
    display: block;
}
.panels {
    bottom: 0;
    display: flex;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
}
.panels__left {
    display: flex;
    flex-basis: 340px;
    flex-direction: column;
    flex-shrink: 0;
}
.panels__right {
    flex-basis: 360px;
    flex-direction: column;
    flex-grow: 1;
}
.panels > * {
    pointer-events: none;
}
.panels > * * {
    pointer-events: auto;
}
.panel {
    display: none;
}
.panel[data-show=true] {
    display: block;
}
.panel__viewport {
    overflow-x: hidden;
    overflow-y: auto;
}
.panel__content {
    
}

/************************
 * panel header
 ************************/
 
 .panel__header {
     background-color: var(--header-bg-color);
     height: var(--header-height);
     padding-left: 10px;
 }
.header__label {
    color: var(--header-color);
    line-height: var(--header-height);
}
.panel__header--sub {
    background-color: var(--subheader-bg-color);
}
.panel__header--sub .header__label {
    font-size: var(--font-size-subheader);
}

/************************
 * UI
 ************************/
 
.btn {
    background-color: var(--btn-bg-color);
    border: none;
    border-radius: 0;
    color: var(--btn-color);
    cursor: pointer;
    display: inline-block;
    outline: none;
    text-align: center;
}
.toggle__check {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
.toggle__check + .toggle__label > span:before {
    content: attr(data-off);
}
.toggle__check:checked + .toggle__label > span:before {
    content: attr(data-on);
}
.toggle__check:checked + .toggle__label {
    background-color: var(--btn-bg-color);
    color: var(--btn-active-color);
}

/************************
 * control bar
 ************************/

.controlbar {
    align-items: flex-start;
    background-color: var(--panel-bg-color);
    display: flex;
    height: var(--control-bar-height);
    position: relative;
}
.controlbar__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 5px 10px;
    text-align: right;
}
.controlbar__name {
    color: var(--btn-color);
    font-size: 12px;
    line-height: 12px;
    padding-top: 2px;
}
.controlbar__version {
    color: var(--btn-color);
    font-size: 16px;
    line-height: 16px;
}
.controls .btn,
.controls .bpm {
    margin-right: 2px;
}
.controls .btn {
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    width: 40px;
}
.controls .bpm {
    display: inline-block;
    font-size: 18px;
    height: 30px;
    margin: 5px;
    text-align: right;
    width: 50px;
}


/************************
 * edit
 ************************/

.edit {
    float: right;
    width: 360px;
}


/************************
 * help
 ************************/

.help {
    background-color: var(--panel-bg-color);
    float: right;
    width: 360px;
}
.help__content {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.help__nav {
    background-color: var(--subheader-bg-color);
    flex-shrink: 0;
    height: calc(75px + 10px + 10px);
    padding: 10px 0;
}
.help__nav-column {
    float: left;
    width: 50%;
}
.help__nav-item {
    color: var(--header-color);
    display: block;
    font-size: var(--font-size-subheader);
    height: var(--header-height);
    line-height: var(--header-height);
    padding-left: 10px;
    text-decoration: none;
}
.help__viewport {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
}
.help__copy {
    padding: 0 10px;
}
.help__copy h1 {
    font-size: 24px;
    margin-bottom: 20px;
    padding-top: 10px;
}
.help__copy h2 {
    font-size: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
}
.help__copy h3 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
    padding-top: 20px;
}
.help__copy p {
    margin-bottom: 20px;
}
.help__copy ul {
    margin: 1rem 0;
    padding-left: 40px;
}
.help__copy a {
    color: var(--text-color);
}
.help__copy code {
    font-size: 15px;
}
